* {
  padding: 0;
  margin: 0;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

body {
  background-image: linear-gradient(to right, rgb(240, 212, 238), rgb(231, 68, 231));
  color: black;
}

header {
  grid-area: header;
  height: 80%;
}
header nav .container-fluid a {
  font-family: "Titillium Web", sans-serif;
}
header nav .container-fluid img {
  height: 35px;
  width: 35px;
}

main {
  grid-area: main;
  height: 80%;
  padding-top: 30px;
}
main .subtitulo {
  display: flex;
  justify-content: center;
}
main .subtitulo h1 {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
}
main .fotoportada {
  display: flex;
  justify-content: center;
}
main .fotoportada img {
  height: 100px;
  width: 300px;
}
main .presentacion-texto {
  margin-top: 20px;
}
main .presentacion-texto div {
  justify-content: center;
  margin: 20px;
}
main .presentacion-texto div p {
  display: flex;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
}
main .container img {
  height: 200px;
  width: 200px;
}
main .container p {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}

.video {
  display: flex;
  justify-content: center;
}
.video iframe {
  width: 300px;
  height: 200px;
}

footer {
  grid-area: footer;
  height: 80%;
  padding-top: 30px;
}
footer div {
  display: flex;
  justify-content: space-around;
  font-family: "Titillium Web", sans-serif;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
footer ul li {
  list-style: none;
}
footer ul li img {
  height: 30px;
  width: 30px;
}

@media screen and (min-width: 768px) {
  header nav .container-fluid .navbar-brand {
    font-family: "Titillium Web", sans-serif;
    font-size: 35px;
  }
  header nav .container-fluid .navbar-brand img {
    height: 60px;
    width: 60px;
  }
  header nav .container-fluid .collapse.navbar-collapse {
    justify-content: center;
    font-size: 30px;
  }
  main .subtitulo {
    height: 20vh;
  }
  main .subtitulo h1 {
    font-size: 45px;
    justify-content: center;
  }
  main .fotoportada {
    display: flex;
    justify-content: center;
  }
  main .fotoportada img {
    height: 300px;
    width: 900px;
  }
  main .presentacion-texto {
    margin-top: 20px;
  }
  main .presentacion-texto div p {
    display: flex;
    justify-content: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;
  }
  main .container div {
    align-items: center;
  }
  main .container div img {
    height: 280px;
    width: 330px;
  }
  main .container div .p-3 {
    justify-content: center;
  }
  main .container div .p-3 p {
    font-size: 30px;
  }
  main .video {
    display: flex;
    justify-content: center;
  }
  main .video iframe {
    width: 700px;
    height: 400px;
  }
  footer div {
    display: flex;
    justify-content: space-around;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
  footer ul li {
    list-style: none;
  }
  footer ul li img {
    height: 55px;
    width: 55px;
  }
}
main .textomaps {
  justify-content: center;
}
main .textomaps .texto {
  justify-content: center;
  margin: 20px;
  font-family: "Libre Franklin", sans-serif;
}
main .textomaps .maps {
  display: flex;
  justify-content: center;
}
main .textomaps .maps iframe {
  height: 150px;
  width: 300px;
}
main .infonumeros div {
  display: flex;
  justify-content: center;
}
main .infonumeros p {
  font-family: "Libre Franklin", sans-serif;
  justify-content: center;
}
main .formula {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
main .formula .form {
  display: flex;
  flex-direction: column;
  background: #c1f380;
  background: -webkit-linear-gradient(to right, #db23d2, #f37a2a);
  background: linear-gradient(to right, #db23d2, #f37a2a);
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}
main .formula .form .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: rgb(17, 16, 16);
}
main .formula .form .description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(247, 246, 245);
  font-family: "Titillium Web", sans-serif;
}
main .formula .form div {
  display: flex;
  max-width: 28rem;
  margin-top: 1rem;
  column-gap: 0.5rem;
}
main .formula .form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(238, 237, 241);
  padding: 0.5rem 0.875rem;
  background-color: rgba(220, 230, 218, 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}
main .formula .form div input::placeholder {
  color: rgb(8, 8, 8);
}
main .formula .form div input:focus {
  border: 1px solid rgb(253, 246, 246);
}
main .formula .form div button {
  color: rgb(12, 11, 11);
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(232, 232, 240);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}
main .redescontact {
  height: 80%;
  padding-top: 30px;
}
main .redescontact div {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  margin: 10px;
}
main .redescontact div p {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
main .redescontact ul {
  display: flex;
  justify-content: space-around;
}
main .redescontact ul li {
  list-style: none;
}
main .redescontact ul img {
  height: 30px;
  width: 30px;
}

footer .derechos p {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  main .textomaps {
    justify-content: space-around;
  }
  main .textomaps .texto {
    display: flex;
    justify-content: center;
  }
  main .textomaps .texto p {
    font-size: 30px;
  }
  main .textomaps .maps {
    display: flex;
    justify-content: center;
  }
  main .textomaps .maps iframe {
    width: 1200px;
    height: 300px;
  }
  main .info-news {
    display: flex;
    justify-content: space-around;
  }
  main .info-news .infonumeros {
    padding-top: 25px;
  }
  main .info-news .infonumeros div {
    display: flex;
  }
  main .info-news .infonumeros p {
    font-family: "Libre Franklin", sans-serif;
    justify-content: center;
    font-size: 25px;
  }
  main .info-news .formula {
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }
  main .info-news .formula .form {
    max-width: 550px;
  }
  main .info-news .formula .form p {
    font-size: 20px;
  }
  main .redescontact nav ul img {
    height: 55px;
    width: 55px;
  }
}
main .fotoprincipal {
  display: flex;
  justify-content: center;
}
main .fotoprincipal img {
  height: 200px;
  width: 340px;
}
main .container .img1 {
  height: 320px;
  width: 230px;
  padding-top: 30px;
}
main .container .img2 {
  height: 250px;
  width: 340px;
  padding-top: 30px;
}
main .container p {
  font-family: "Titillium Web", sans-serif;
}

@media screen and (min-width: 768px) {
  main .fotoprincipal img {
    height: 628px;
    width: 1200px;
  }
  main .container_nos .container {
    padding-top: 30px;
  }
  main .container_nos .container .row {
    align-items: center;
  }
  main .container_nos .container .row .col-sm-6 {
    justify-content: center;
  }
  main .container_nos .container .row .col-sm-6 .img1 {
    height: 670px;
    width: 400px;
  }
  main .container_nos .container .row .col-sm-6 .img2 {
    height: 349px;
    width: 520px;
  }
  main .container_nos .container .row .col-sm-6 p {
    font-size: 23px;
  }
}
main .text_info {
  justify-content: center;
  margin: 13px;
}
main .text_info p {
  font-family: "Titillium Web", sans-serif;
}
main .container img {
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  main .text_info {
    justify-content: center;
    justify-content: center;
    margin: 25px;
  }
  main .text_info p {
    font-family: "Titillium Web", sans-serif;
    font-size: 27px;
  }
}
main .container_tienda .p-3 a {
  text-decoration: none;
}
main .container_tienda .p-3 a img {
  height: 110px;
  width: 110px;
}
main .container_tienda .p-3 a p {
  color: black;
  font-family: "Titillium Web", sans-serif;
}

@media screen and (min-width: 768px) {
  main .container_tienda .p-3 a {
    text-decoration: none;
  }
  main .container_tienda .p-3 a p {
    font-family: "Titillium Web", sans-serif;
    font-size: 27px;
  }
}

/*# sourceMappingURL=estilos.css.map */
