main{
    .fotoprincipal{
            display: flex;
            justify-content: center;
            img{
                height: 200px;
                width: 340px;
            }
    }
    .container_nos{
        .img1{
            height: 320px;
            width: 230px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .img2{
            height: 250px;
            width: 340px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
        .col-sm-6{
            p{
                font-family: 'Titillium Web', sans-serif;
                b{
                    color: black;
                    background-color: rgb(255, 255, 255);
                    height: 30px;
                    padding: 0px 20px;
                }
            }
        }
    }

}
@media screen and (min-width:768px){
    main{
        .fotoprincipal{
            img{
                height: 628px;
                width: 1200px;
            }
        }
        .container_nos{

            .container{
                padding-top: 30px;
                    .row{
                        align-items: center;
                        .col-sm-6{
                            justify-content: center;
                            .img1{
                                height: 670px;
                                width: 400px;
                            }
                            .img2{
                                height: 349px;
                                width: 520px;
                            }
                            
                                p{
                                    font-size: 23px;
                                }
                            
                        }
                    }
                }
            }   
        }
    }