main{
    .fotoprincipal{
            display: flex;
            justify-content: center;
            img{
                height: 120px;
                width: 300px;
            }
    }
    .container{
        img{
            height: 170px;
            width: 190px;
            padding-top: 30px;
        }
        p{
            font-family: 'Titillium Web', sans-serif;
        }
    }

}
@media screen and (min-width:768px){
    main{
        .fotoprincipal{
            img{
                height: 628px;
                width: 1200px;
            }
        }
        .container_nos{

            .container{
                padding-top: 30px;
                    .row{
                        align-items: center;
                        .col-sm-6{
                            justify-content: center;

                            .img1{
                                height: 670px;
                                width: 400px;
                            }
                            .img2{
                                height: 349px;
                                width: 520px;
                            }
                            
                                p{
                                    font-size: 23px;
                                }
                            
                        }
                    }
                }
            }   
        }
    }