main{
    .text_info{
        p{
            font-family: 'Titillium Web', sans-serif;
        }
        }
    
    .container{
        img{
            height: 200px;
            width: 200px;
        }
    }
}