main{
    .container_tienda{
        img{
            height: 120px;
            width: 120px;
        }
    }
        
}
@media screen and (min-width:768px){
    main{
        .container_tienda{
            p{
                font-family: 'Titillium Web', sans-serif;
                font-size: 27px;

            }
            }
    }
}