main{
    .container_tienda{
        .p-3{
            a{
                text-decoration: none;
                img{
                    height: 110px;
                    width: 110px;
                }
                p{
                    color: black;
                    font-family: 'Titillium Web', sans-serif;
                }
            }
        }
    }
        
}
@media screen and (min-width:768px){
    main{
        .container_tienda{
            .p-3{
                a{
                    text-decoration: none;
                    p{
                        font-family: 'Titillium Web', sans-serif;
                        font-size: 27px;
                    }
                }
            }
        }
    }
}